name: Deploy to Production

on:
  push:
    tags:
      - 'v*.*.*'  # v1.0.0, v1.0.1 등 버전 태그가 푸시될 때 실행

permissions:
  contents: read

jobs:
  build-docker-image:
    environment: production
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      #  Spring Boot 애플리케이션 테스트
      - name: Run Tests with Gradle
        uses: gradle/gradle-build-action@v2
        with:
          arguments: test
        env:
          SPRING_PROFILES_ACTIVE: test

      #  Spring Boot 애플리케이션 빌드
      - name: Build with Gradle
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: clean bootJar
        env:
          SPRING_PROFILES_ACTIVE: test

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      #  DockerHub 로그인
      - name: docker login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and Push ARM64 Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile
          push: true
          platforms: linux/arm64
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/cheftory-proxy-server:latest

  # ec2에 배포
  deploy:
    environment: production
    runs-on: ubuntu-latest
    needs: build-docker-image
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: SSH to EC2 and create folder
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            mkdir -p cheftory-proxy-server

      - name: Create .env on EC2
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd ~/cheftory-proxy-server
            cat <<EOF > .env
            COMPOSE_PROJECT_NAME=cheftory
            DATABASE_HOST=${{ secrets.DATABASE_HOST }}
            DATABASE_PORT=${{ secrets.DATABASE_PORT }}
            DATABASE_NAME=${{ secrets.DATABASE_NAME }}
            DATABASE_USERNAME=${{ secrets.DATABASE_USERNAME }}
            DATABASE_PASSWORD=${{ secrets.DATABASE_PASSWORD }}
            AI_RECIPE_SUMMARY_HOST=${{ secrets.AI_RECIPE_SUMMARY_HOST }}
            AI_RECIPE_SUMMARY_PORT=${{ secrets.AI_RECIPE_SUMMARY_PORT }}
            YOUTUBE_API_TOKEN_DEFAULT=${{ secrets.YOUTUBE_API_TOKEN_DEFAULT }}
            YOUTUBE_API_TOKEN_BLOCK_CHECK=${{ secrets.YOUTUBE_API_TOKEN_BLOCK_CHECK }}
            JWT_SECRET=${{ secrets.JWT_SECRET }}
            JWT_REFRESH_TOKEN_EXPIRATION=${{ secrets.JWT_REFRESH_TOKEN_EXPIRATION }}
            JWT_ACCESS_TOKEN_EXPIRATION=${{ secrets.JWT_ACCESS_TOKEN_EXPIRATION }}
            APPLE_APP_ID=${{ secrets.APPLE_APP_ID }}
            APPLE_SERVICE_ID=${{ secrets.APPLE_SERVICE_ID }}
            SENTRY_AUTH_TOKEN=${{secrets.SENTRY_AUTH_TOKEN}}
            SENTRY_DSN=${{secrets.SENTRY_DSN}}
            OPENSEARCH_HOST=${{ secrets.OPENSEARCH_HOST }}
            OPENSEARCH_PORT=${{ secrets.OPENSEARCH_PORT }}
            OPENSEARCH_USERNAME=${{ secrets.OPENSEARCH_USERNAME }}
            OPENSEARCH_PASSWORD=${{ secrets.OPENSEARCH_PASSWORD }}    
            REDIS_HOST=${{ secrets.REDIS_HOST }}
            REDIS_PORT=${{ secrets.REDIS_PORT }}
            REDIS_PASSWORD=${{ secrets.REDIS_PASSWORD }}
            COUPANG_PARTNERS_ACCESS_KEY=${{ secrets.COUPANG_PARTNERS_ACCESS_KEY }}
            COUPANG_PARTNERS_SECRET_KEY=${{ secrets.COUPANG_PARTNERS_SECRET_KEY }}
            EOF
            

      - name: Copy docker-compose.prod.yml to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          source: "docker/docker-compose.prod.yml"
          target: "/home/ubuntu/cheftory-proxy-server"
          strip_components: 1

      - name: List workspace files
        run: ls -R

      - name: SSH to EC2 and deploy
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd cheftory-proxy-server

            # Docker Hub에 로그인
            echo ${{ secrets.DOCKERHUB_PASSWORD }} | sudo docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin

            # docker-compose.prod.yml에서 이미지 이름 수정
            sed -i "s|image: cheftory-proxy-server:latest|image: ${{ secrets.DOCKERHUB_USERNAME }}/cheftory-proxy-server:latest|g" docker-compose.prod.yml

            # 기존 컨테이너 정리
            sudo docker-compose -f docker-compose.prod.yml stop || true
            sudo docker-compose -f docker-compose.prod.yml rm -f || true
            sudo docker rmi ${{ secrets.DOCKERHUB_USERNAME }}/cheftory-proxy-server:latest || true

            # 새 이미지 pull 및 실행
            sudo docker-compose -f docker-compose.prod.yml pull
            sudo docker-compose -f docker-compose.prod.yml up -d
